[submodule "bundle/python-mode"]
	path = bundle/python-mode
	url = https://github.com/klen/python-mode.git
[submodule "bundle/surround"]
	path = bundle/surround
	url = https://github.com/tpope/vim-surround.git
[submodule "bundle/taglist.vim"]
	path = bundle/taglist.vim
	url = https://github.com/vim-scripts/taglist.vim.git
[submodule "bundle/vim-airline"]
	path = bundle/vim-airline
	url = https://github.com/bling/vim-airline
[submodule "bundle/fonts"]
	path = bundle/fonts
	url = https://github.com/powerline/fonts
[submodule "bundle/vim-notes"]
	path = bundle/vim-notes
	url = https://github.com/xolox/vim-notes.git
[submodule "bundle/vim-misc"]
	path = bundle/vim-misc
	url = https://github.com/xolox/vim-misc.git
[submodule "bundle/tagbar"]
	path = bundle/tagbar
	url = https://github.com/majutsushi/tagbar.git
[submodule "bundle/vim-colorscheme-switcher"]
	path = bundle/vim-colorscheme-switcher
	url = https://github.com/xolox/vim-colorscheme-switcher.git
[submodule "/home/werner/.vim/bundle/vim-javascript"]
	path = bundle/vim-javascript
	url = https://github.com/pangloss/vim-javascript.git
[submodule "bundle/delimitMate"]
	path = bundle/delimitMate
	url = https://github.com/Raimondi/delimitMate.git
[submodule "bundle/YouCompleteMe"]
	path = bundle/YouCompleteMe
	url = https://github.com/Valloric/YouCompleteMe.git
[submodule "bundle/syntastic"]
	path = bundle/syntastic
	url = https://github.com/scrooloose/syntastic.git
[submodule "bundle/vim-ansible-yaml"]
	path = bundle/vim-ansible-yaml
	url = git://github.com/chase/vim-ansible-yaml.git
[submodule "bundle/vim-python-pep8-indent"]
	path = bundle/vim-python-pep8-indent
	url = https://github.com/Vimjas/vim-python-pep8-indent.git
[submodule "bundle/vim-project-man"]
	path = bundle/vim-project-man
	url = https://github.com/werner-smit/vim-project-man.git
[submodule "bundle/nerdtree"]
	path = bundle/nerdtree
	url = https://github.com/scrooloose/nerdtree.git
[submodule "fzf.vim"]
	path = fzf.vim
	url = https://github.com/junegunn/fzf.vim.git
[submodule "bundle/fzf.vim"]
	path = bundle/fzf.vim
	url = https://github.com/junegunn/fzf.vim.git
[submodule "bundle/splitjoin.vim"]
	path = bundle/splitjoin.vim
	url = https://github.com/AndrewRadev/splitjoin.vim.git
[submodule "bundle/vim-argwrap"]
	path = bundle/vim-argwrap
	url = https://github.com/FooSoft/vim-argwrap
[submodule "bundle/vim-dadbod"]
	path = bundle/vim-dadbod
	url = https://github.com/tpope/vim-dadbod.git
[submodule "bundle/vim-airline-themes"]
	path = bundle/vim-airline-themes
	url = https://github.com/vim-airline/vim-airline-themes
[submodule "bundle/ayu-vim"]
	path = bundle/ayu-vim
	url = https://github.com/ayu-theme/ayu-vim
[submodule "bundle/vim-go"]
	path = bundle/vim-go
	url = https://github.com/fatih/vim-go.git
[submodule "bundle/repeat"]
	path = bundle/repeat
	url = https://tpope.io/vim/repeat.git
[submodule "bundle/vim-unimpaired"]
	path = bundle/vim-unimpaired
	url = https://github.com/tpope/vim-unimpaired.git
[submodule "bundle/vim-fugitive"]
	path = bundle/vim-fugitive
	url = https://github.com/tpope/vim-fugitive.git
[submodule "bundle/gruvbox"]
	path = bundle/gruvbox
	url = https://github.com/morhetz/gruvbox.git
[submodule "bundle/sideways.vim"]
	path = bundle/sideways.vim
	url = https://github.com/AndrewRadev/sideways.vim.git
[submodule "bundle/nerdcommenter"]
	path = bundle/nerdcommenter
	url = https://github.com/preservim/nerdcommenter.git
[submodule "bundle/auto-pairs"]
	path = bundle/auto-pairs
	url = https://github.com/jiangmiao/auto-pairs.git
[submodule "bundle/vim-jsx-pretty"]
	path = bundle/vim-jsx-pretty
	url = https://github.com/MaxMEllon/vim-jsx-pretty.git
[submodule "bundle/vim-bufclean"]
	path = bundle/vim-bufclean
	url = https://github.com/pmconne/vim-bufclean.git
[submodule "bundle/close-buffers.vim"]
	path = bundle/close-buffers.vim
	url = https://github.com/Asheq/close-buffers.vim.git
[submodule "bundle/vim-autopep8"]
	path = bundle/vim-autopep8
	url = https://github.com/tell-k/vim-autopep8.git
[submodule "bundle/vim-autoflake"]
	path = bundle/vim-autoflake
	url = https://github.com/tell-k/vim-autoflake.git
